.bespoke-header-banner{
    background-image: url('../media/bespoke-header-2000x4002x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 5px;
}

.bespoke-header-banner-inner{
   max-width: 600px;
   width: 80%;
   padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    color: var(--black);
}

.bespoke-header-banner-inner h1{
    font-weight: 600;
}



.bespoke-content-flex{
    display: flex;align-items: center;
    padding: 50px 5px;
    gap: 30px;
}

@media (max-width:600px){
    .bespoke-content-flex{
        flex-direction: column;
    }   

}



.order-container-main{
    padding: 30px 5px;
}

.order-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 30px 0px;
    position: relative;
}

.order-step {
    text-align: center;
    max-width: 200px;
    position: relative;
}

.order-step .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #d63384;
    margin: 0 auto;
    position: relative;
}

.order-step img {
    width: 50px;
}

.order-step h3 {
    margin: 10px 0;
    font-size: 18px;
}

.order-step p {
    font-size: 14px;
    color: #555;
}

.order-step a {
    display: block;
    margin-top: 10px;
    color: #d63384;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

/* Add connecting arrows */
.order-step:not(:first-child) .icon::after {
    content: ">";
    position: absolute;
    top: 50%;
    left:-13px;
    font-size: 24px;
    color: #d63384;
    transform: translateY(-50%);  

}

.order-step:not(:last-child) .icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: calc(200% + 20px); /* Adjust width to match spacing */
    height: 2px;
    background-color: #d63384;
    transform: translateY(-50%);
}

@media (max-width:600px){
    .order-container{
        flex-direction: column;
    }   

    .order-step .icon::before , .order-step .icon::after{
        display: none;
    }
}