.bespoke-header-banner{
    background-image: url('../media/bespoke-header-2000x4002x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 5px;
}

.bespoke-header-banner-inner{
   max-width: 600px;
   width: 80%;
   padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: left;
    color: var(--black);
}

.bespoke-header-banner-inner h1{
    font-weight: 600;
}



.bespoke-content-flex{
    display: flex;align-items: center;
    padding: 50px 5px;
    gap: 30px;
}
.bespoke-content-flex img{
    min-height: 550px;
}

@media (max-width:600){
    .bespoke-content-flex{
        flex-direction: column;
    }   
}




.order-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}
.order-step {
    text-align: center;
    max-width: 200px;
}
.order-step .icon {
    font-size: 40px;
    color: #d63384;
}
.order-step h3 {
    margin: 10px 0;
    font-size: 18px;
}
.order-step p {
    font-size: 14px;
    color: #555;
}
.order-step a {
    display: block;
    margin-top: 10px;
    color: #d63384;
    font-weight: bold;
    text-decoration: none;
}