.contact-section {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}


/* Styling the team cards */
.team-card {
    margin: 15px auto;
    padding: 0px;
    border-radius: 5px;
    border:1px solid var(--text-color);
}

.contact-section h3 {
    margin-bottom: 20px;  
    color: var(--white);
    background-color: var(--text-color);
}

.team-card-wrapper{
    padding: 15px;
}


/* Responsive Row Layout for Finance and PR teams */
.team-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;  /* Added gap for better spacing */
}

/* Ensuring both cards are side-by-side on larger screens */
.team-row .team-card {
    flex: 1 1 calc(50% - 20px);
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .team-row {
        flex-direction: column;
    }

    .team-row .team-card {
        flex: 1 1 100%;
    }
}