.product_intro{
    display: flex;
    gap: 50px;
    padding: 80px 0;

}

@media (max-width:600px){
    .product_intro{
        flex-direction: column;
    } 
}



.product-image-slider{
    position: relative;
    width: 100%;
    height: 485px;
    overflow: hidden;
    flex: 2;
}

.product-image-slider div{
    height: 485px;
}

.product-image-slider img {
    width: 100%;
    border-radius: 10px;
    height: 485px;
    object-fit: cover;
}

.product-image-slider .dots{
    text-align: start;
    left:20px;
    bottom:10px;
    height:20px;
}

.product-image-slider .dot{
    height:7px;
    width:20px;
    border-radius:4px
}

.product-image-slider .dot.active{
    background:var(--primary-color);
}



.single-product-info {
    flex: 3;
}

.trustpilot-section-product{
    display:flex;
}

.customise-cta {
    padding:20px;
    background:var(--gary-bg);
    border:1px solid var(--secondary-color);
    border-radius:20px
    
}

.customise-cta:hover {
    border:1px solid var(--primary-color);
} 
.customise-cta .chat-button{
    font-size: 12px;
    font-weight: 600;
}

.customise-cta:hover .chat-button{
    background: var(--primary-color);
}

.customise-cta h3{
    margin-bottom:15px;
    font-weight: 600;
}