/* Define Global Variables */
:root {
    --primary-color: #FD7D18;
    --light-gray:#C8CCCF;
    --secondary-color: #1B5E3F;
    --text-color:#333;
    --black: #000;
    --white: #fff;
    --gary-bg: #f7f7f7;
}


:root {
    --container:1200px;
}

.tab-only{display: block;}
.mobile-only {display: none !important;}
@media (min-width: 768px){
.mobile-only {display: flex !important;}
.tab-only{display: none;}
}



/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease;
}


h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
}
h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
p{
    font-size: 16px;
    color: var(--text-color);
}

.container{
    max-width: var(--container);
    width: 100%; margin: auto;
}




/* Hero Section */

.hero_slider {
    position: relative;
    width: 100%;
    height:500px;
    overflow: hidden;
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
}

.hero-slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-slide:nth-child(even) {
    background-color: var(--primary-color);
}

.hero-slide:nth-child(odd) {
    background-color: var(--secondary-color);
}

.text-section {
    position:relative;
    width:50%;
    max-width: 500px;      
    padding: 20px;  
    padding-right:100px;
    border-radius: 10px;
}

@media(max-width:900px){
    .text-section {
        padding-right:10px;
    }
}

.text-section h2 {
    font-size: 2.5rem;
    font-weight: 750;
    color: var(--white);
}

.text-section p {
    color: var(--white);
    margin: 0px 0 40px 0;
}

.shop-btn  {
    background: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}


.shop-btn:hover {
    background: var(--secondary-color);
}

.image-section{
    width:50%;
    height:100%;
    background-size: cover;
    background-position: center center;
}
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display:none;
}

@media (max-width:500px) {
    .hero-content {
        flex-direction: column-reverse;
    }
    .hero-content * {
        width:100%;
    }
    .image-section img {
        display: block;
    }
}


/* trustpilot section  */

.trustpilot-section {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background: var(--white);
    padding: 25px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.rating-text {
    font-weight: bold;
    color: var(--black);
}

.stars {
    display: flex;
}

.star {
    width: 20px;
    height: 20px;
    background: url('../media/star-full.svg') no-repeat center/contain;
}

.star.half {
    background: url('../media/star-half.svg') no-repeat center/contain;
}

.review-count {
    color: var(--text-color)
}

.trustpilot-logo {
    font-weight: bold;
    color: var(--secondary-color)
}




/* Products Section */
.product-grid {
    text-align: center;
    padding: 80px 10px;
    background: var(--gary-bg);
}
.product-grid.product-grid2{    
    padding: 80px 10px 160px 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    row-gap: 40px;
    max-width: var(--container);
    margin: auto;
}

.product {
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.product div {
    position: relative;
}

.hover_desc{
    background:#ffffffcf;
    padding:20px;
    position:absolute;
    bottom: 0;
    width:100%;
    opacity: 0; /* Initially invisible */
    display:none;
    transition: bottom 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.product:hover .hover_desc{
    position:absolute;
    bottom: 0; /* Moves it up to visible area */
    opacity: 1; /* Makes it visible */
    display:block;
}

.card_content{
    padding: 20px;
}
.product img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
}
.product h3{
    font-size:16px;
    color: var(--primary-color);
}
.price {
    font-size:14px;
    margin: 5px 0 15px 0;
}
.product a:hover{
    text-decoration: underline;
}

.explore{
    color: var(--black);
    cursor: pointer;
    font-size: 12px;
    text-decoration:none;
}
.order-now {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 12px;
    text-decoration:none;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--primary-color);
    color: var(--white);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
}

.product-grid .chat-button{
    position: relative;
    top: 50px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}




/* Support section  */

.support-section {
    padding: 80px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    position: relative;
    display: inline-block;
    width: 60%;
    max-width: 750px;
    max-height: 380px;
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    border-radius: 8px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}

.play-button img {
    width: 60px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.feature {
    width: 220px;
    margin: 15px;
    text-align: center;
}

.feature img {
    width: 90px;
    margin-bottom: 10px;
}

.feature h3 {
    font-size: 16px;
    font-weight: bold;
}

.feature p {
    font-size: 13px;
}

.support-section a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}






.slider {
    position: relative;
    width: 100%;
    margin: auto;    
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height:400px;
    overflow: hidden;
}

.slide h2 {
    margin-bottom:15px;
     font-size:22px;
 }
 
 .slide p {
    margin-bottom:25px;
     font-size:14px
 }
 .slide img {
     width: 100%;
     border-radius: 10px;
 }
 
 .slide-content {
     position: absolute;
     left: 10%;
     background: rgba(255, 255, 255, 0.9);
     padding: 20px 25px 40px;
     border-radius: 10px;
     max-width: 400px;
     border-radius:20px;
 }
 
 @media (max-width:550px){
     .slide-content {
         width: 90%;
         left:50%;
         transform:translateX(-50%);
     }
 }
 
 .explore-btn {
     background: var(--primary-color);
     color: var(--white);
     padding: 10px 15px;
     text-decoration: none;
     border-radius: 5px;
     font-size:14px;
 }

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 4px;
    cursor: pointer;
    border-radius: 50%;
    height:30px;
    width:30px;
}

.slider-btn:hover {
    background: var(--primary-color);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    z-index: 99;
    bottom: 10px;
    width: 100%;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 5px;
    background-color: var(--light-gray);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color:  var(--primary-color);
}





/* Delivery Section */
.delivery-section {
    text-align: center;
    background: var(--gary-bg);
    padding: 50px 20px;
}

.delivery-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: var(--container);
    margin:auto;
}

.delivery-option {
    text-align: center;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
}

.delivery-section h3 {
    font-size: 16px;
    font-weight: bold;
}

.delivery-section a {
    font-size: 13px;
}

.delivery-option img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.find-out-more {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.find-out-more:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .delivery-grid {
        flex-direction: column;
        align-items: center;
    }
}





/* blog section  */

/* General Section Styling */
.trending-section {
    text-align: center;
    padding: 80px 10px;
    background: var(--white)
}
.trending-section h2{
  margin-bottom: 10px;
}

.trending-subtitle {
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 30px;
}

/* Grid Layout */
.trending-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Card Styling */
.trending-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.trending-card:hover {
    transform: translateY(-5px);    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Image */
.trending-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Content */
.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.explore-link {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

.explore-link:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .trending-grid {
        grid-template-columns: 1fr;
    }
}





/* Footer */

footer {
    background: var(--white);
    padding: 40px 20px;
    border-top: 1px solid var(--light-gray);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width:15%;
    flex:1;
    min-width: 200px;
    margin-bottom: 20px;
    padding:10px 10px 10px 30px;
}
.footer-column:first-child {
    border-right: 1px solid var(--light-gray);
    width:25%;
    min-width:300px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding:0;
    margin:0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a , .footer-column p a{
    text-decoration: none;
    color: var(--text-color);
    font-size:13px;
    transition: color 0.3s;
}

.footer-column ul li a:hover, .footer-column p a:hover {
    color:var(--primary-color);
}

.contact p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
footer i {
    font-size: 18px;
    margin-right: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}

footer i:hover{
    color: var(--primary-color);
}
.social-icons i {
    margin-top: 10px;
    color: var(--light-gray);
    cursor: pointer;
}

.footer-bottom {
    text-align: left;
    padding-top: 20px;
    border-top: 1px solid var(--light-gray);
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

.footer-bottom p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-bottom a {
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom a:hover {
    color: var(--primary-color);
}

.certifications {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.certifications img {
    height: 40px;
    margin: 0 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        width: 100%;
        text-align: center;
    }

    .footer-column:first-child {
        width:100%;
        min-width:100%;
         border-right: none;
        text-align: center;
    }
    .contact p {
    justify-content: center;}

    .footer-bottom{
        flex-direction:column;
        text-align: center;
    }
    
    .certifications {
        flex-wrap: wrap;
    }
}







